<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a>
        <%= link_to image_tag('logo.png'), exchange_index_path, :class => "navbar-item" %>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a>
          <%= link_to "Home", exchange_index_path, :class => "navbar-item"%>
        </a>

        <a>
          <%= link_to "Buy", adverts_path, :class => "navbar-item"%>
        </a>

        <a>
          <%= link_to "Sell", books_path, :class => "navbar-item"%>
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a>
              <%= link_to "Documentation", "https://github.com/sizsan/Bookly", :class => "navbar-item" %>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Contact
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
              <a>
                  <% if user_signed_in? %>
                    <div id="logout"><%= link_to 'Logout', destroy_user_session_path, method:
                    "delete",class:"button is-light"%></div>
                    <div id="username" class="button is-dark"><%= current_user.firstname %></div>
                  <% else %>
                    <p><%= link_to 'Sign Up', new_user_registration_path, class:"button is-primary"%>
                    <%= link_to 'Login', new_user_session_path, class:"button is-light"%>
                    </p>
                  <% end %>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


