<h1 class="title">Book List</h1>
<p class="subtitle">Select a book from the list or add a new book to sell</p>

<table class="table is-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Author(s)</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
        <% if @books %>
            <% @books.each do |i| %>
                <tr>
                    <td><%= link_to i.title, book_path(i.id) %></td>
                    <td><%= i.authors %></td>
                    <td><%= i.isbn %></td>
                </tr>
            <%end%>
        <%end%>
    </tbody>
</table>

<p><%= link_to("Add a New Book to Sell", new_book_path, :class => "button is-primary")%></p><br>
<p><%= link_to("Back", exchange_index_path, :class => "button")%></p>