<div class="columns">
    <div class="column is-three-fifths">
        <h1 class="title"><%= @book.title %></h1>
        <h2 class="subtitle"><%= @book.authors %></h2>
        <%= image_tag(@book.image_link, :class => "image") %>
        <br>
        <p class="subtitle">Description:<p>
        <p><%= @book.description %></p>
        <br>
        <p><%= link_to("Sell this book", new_advert_path(book_id: @book.id), :class => "button is-primary") %></p><br>
        <p><%= link_to("Back", books_path, :class => 'button') %></p>
    </div>
</div>