<div class="columns">
    <div class="column is-three-fifths">
        <h1 class="title"><%= @advert.book.title %></h1>
        <h2 class="subtitle"><%= @advert.book.authors %></h2>
        <% if @advert.cover%>
            <%= image_tag(@advert.cover, width: 200) %>
        <% else %>
            <%= image_tag(@advert.book.image_link, :class => "image") %>
        <% end %>
        <br>
        <p class="subtitle">Description</p>
        <p><%= @advert.book.description %></p>
        <br>
        <h2>Condition: <%= @advert.condition %></h2>
        <h2>Contact: <%= @advert.seller.email%></h2>

        <br>
        <p><%= link_to("Order", new_order_path(advert_id: @advert.id), :class => "button is-primary") %></p><br>               
        <p><%= link_to("Back", adverts_path, :class => 'button') %></p>
    </div>
</div>