<!DOCTYPE html>
<html>
  <head>
    <title>Bookly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <head>
      <%= render "shared/topnav" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </head>
    <div class="hero-body">
      <%= yield %>
    </div>
  </body>
</html>
