<!DOCTYPE html>
<html>
  <head>
    <title>Bookly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hero">
    <div class="container">
      <div class="hero-body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
